
<div class="container mt-5">
    <h1>{{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-8">
    <form action="" method="post">
        <div class="mb-2">
        <input class="text" name="nombre" id="" placeholder="Nombre"> 
        </div>
        <div class="mb-2">
        <input class="email" name="email" id="" placeholder="Email">
        </div>
        <div class="mb-2">
        <input class="Localidad" name="localidad" id="" placeholder="Localidad">
        </div>
        <div>
             <div class="d-grid gap-2 d-md-block">
                     <button class="btn btn-primary" type="Enviar">Enviar</button>
            </div>
        </div>
    </form>

      <div class="validacion">
               <p class="text-danger">
                   {{validacion}}
               </p> 
            </div>
        </div> 
    <div class="col-4"></div>
    </div>
</div>