
<div class="container-fluid">

   <div class="card text-center">

   <div class="card-header"></div>
   <div class="card-body">
        <h1 class="card-title">Distribuidor mayorista para dieteticas.</h1>
        <h4>
          <p class="card-text mt-4">Nos especializamos en la distribicion de productos para celiacos y diabeticos. 
        Podes hacer tu consulta, contactandonos por esta paguina donde te mostarmos parte de nuestros
        productos. 
         </p>
        </h4>
   </div>
  </div>
  </div>
<div class="container-fluid">

   <div class="card-group">

  <div class="card">
      <a href="/productos">
    <img src="/images/sinazucar.png " class="card-img-top" alt="...">
      </a>
    <div class="card-body">
      <h4 class="card-title text-center">Sin Azucar</h4>
      <p class="card-text">Hay gran variedad de productos Sin Azucar, aptos para celiacos. 
          En este lugar te mostarmos com prueba una parte de nuestros productos.</p>
       </div>
  </div>

  <div class="card">
      <a href="/productos">
    <img src="/images/sintacc.png" class="card-img-top" alt="...">
      </a>
    <div class="card-body">
      <h4 class="card-title text-center">Sin Tacc</h4>
      <p class="card-text">Hay gran variedad de productos Sin Tacc, aptos para celiacos. 
          En este lugar te mostarmos com prueba una parte de nuestros productos.
      </p>
     </div>
  </div>

  <div class="card">
      <a href="/productos">
    <img src="/images/logovegano.jpg" class="card-img-top" alt="...">
      </a> 
    <div class="card-body">
      <h4 class="card-title text-center">Veganos</h4>
      <p class="card-text">Hay gran variedad de productos Veganos, aptos para celiacos. 
          En este lugar te mostarmos com prueba una parte de nuestros productos.</p>
      </div>
  </div>

  </div>
</div>

        


